Source: libpve-storage-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libfile-chdir-perl,
               libposix-strptime-perl,
               libpve-cluster-perl,
               libpve-common-perl (>= 6.3-2),
               librados2-perl,
               libtest-mockmodule-perl,
               lintian,
               perl,
               pve-cluster (>= 5.0-32),
               pve-doc-generator (>= 5.3-3),
               pve-qemu-kvm | qemu-utils,
               zfsutils-linux,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: libpve-storage-perl
Architecture: all
Breaks: libpve-guest-common-perl (<< 4.0-3),
        libpve-http-server-perl (<< 4.0-3),
        pve-container (<< 3.1-2),
        pve-manager (<< 5.2-12),
        qemu-server (<< 6.1-14),
Depends: ceph-common (>= 12.2~),
         ceph-fuse,
         cifs-utils,
         cstream,
         glusterfs-client (>= 3.4.0-2),
         libfile-chdir-perl,
         libposix-strptime-perl,
         libpve-apiclient-perl (>= 3.1-1),
         libpve-cluster-perl,
         libpve-common-perl (>= 7.2-1),
         librados2-perl,
         lvm2,
         nfs-common,
         proxmox-backup-client (>= 1.0~),
         proxmox-backup-file-restore,
         pve-cluster (>= 5.0-32),
         smartmontools,
         smbclient,
         thin-provisioning-tools,
         udev,
         ${perl:Depends},
Recommends: zfs-zed,
Description: Proxmox VE storage management library
 This package contains the storage management library used by Proxmox VE.
