Source: libpve-storage-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~),
               libfile-chdir-perl,
               libpve-common-perl (>= 5.0-42),
               libtest-mockmodule-perl,
               librados2-perl,
               lintian,
               perl (>= 5.10.0-19),
               libpve-cluster-perl,
               pve-cluster (>= 5.0-32),
               pve-doc-generator (>= 5.3-3),
               zfsutils-linux,
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: libpve-storage-perl
Architecture: all
Breaks: pve-manager (<< 5.2-12)
Depends: cstream,
         glusterfs-client (>= 3.4.0-2),
         libfile-chdir-perl,
         libnet-dbus-perl,
         libpve-cluster-perl,
         libpve-common-perl (>= 6.0-12),
         librados2-perl,
         lvm2,
         nfs-common,
         perl (>= 5.6.0-16),
         smartmontools,
         thin-provisioning-tools,
         udev,
         smbclient,
         ceph-common,
         ceph-fuse,
         cifs-utils,
         pve-cluster (>= 5.0-32),
         ${perl:Depends},
Recommends: zfs-zed,
Description: Proxmox VE storage management library
 This package contains the storage management library used by Proxmox VE.
